body {
    font-family: "rooney-web", sans-serif;
    font-size: 100%;
}

a {
    color: inherit;
}

.content {
    width: 90%;
    margin: auto;
}

.post {
    margin-bottom: 2em;
}

@media screen and (min-width: 40em) {
    .content {
        max-width: 50em;
    }
}