body {
    font-family: "skolar", serif;
    font-size: 100%; /* 16px */
}

a {
    color: inherit;
}

#articles {
    width: 90%;
    margin: auto;
}

.post {
    margin-bottom: 2em;
}

h1 {
    text-align: center;
}

@media screen and (min-width: 40em) { /* 640px */
    #articles {
        max-width: 30em;
    }
}