body {
    font-family: "ff-meta-serif-web-pro", serif;
    font-size: 100%; /* 16px */
}

a {
    color: inherit;
}

#articles {
    font-size: 1.2em;
    line-height: 1.6;
    width: 90%;
    margin: auto;
}

.post {
    margin-bottom: 2em;
}

h1 {
    text-align: center;
}

@media screen and (min-width: 40em) { /* 640px */
    #articles {
        max-width: 35em;
    }
}